<h3><%= @user.name %>様</h3>
<p>
  この度は【Mgt_App】へご登録いただきまして誠にありがとうございます。<br>
  下記有効化ボタンをクリックすることで、本登録が完了となります。
</p>
<p>【ご登録されたメールアドレス】</p>
<p><%= @user.email %></p>

<p>下記のリンクをクリックしてアカウントを【<%=@user.reset_token.lifetime_text%>】以内にパスワードをリセットしてくださいm(_ _)m</p>

<b><<%= link_to "パスワードをリセットする", @url %></b>

<p>トークン(ベータ版の為、表示削除予定)</p>
<p><%=@user.reset_token.token%></p>